<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact app</title>

  <style>
    ul {
      margin: 0;
      padding-left: 0;
    }
    html, body {
      width: 100%;
      height: 100%;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #app {
      width: 800px;
      margin: auto;
    }
    .input-box {
      margin-bottom: 30px;
    }
    .list-box li {
      display: flex;
      align-items: center;
    }
    .list-box li > * {
      padding: 5px 10px;
    }
  </style>
</head>
<body>
  
  <div id="app">
    <div class="container">
      <section v-if="loading">
        <h1>Loading...</h1>
      </section>
      <section v-else>
        <form class="input-box">
          <input v-model.trim="input.name" type="text" placeholder="會員名稱">
          <input v-model.trim="input.email" type="text" placeholder="電子信箱">
          <button @click.prevent="createHandler" type="submit" class="submit">送出</button>
          <button @click.prevent="cancelHandler" class="cancel">取消</button>
        </form>

        <div class="list-box">
          <ul>
            <li v-for="contact in contacts" :key="contact.id">
              <div class="number">{{ contact.id }}</div>
              <div class="name">{{ contact.name }}</div>
              <a :href="'mailto:'+contact.email">{{ contact.email }}</a>
              <div class="btn-box">
                <button @click.prevent="editHandler(contact.id)" class="edit">修改</button>
                <button @click.prevent="deleteHandler(contact.id)" class="delete">刪除</button>
              </div>
            </li>
          </ul>
        </div>
      </section>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

  <script>
    ;(function(Vue) {
      new Vue({
        el: '#app',
        data: {
          contacts: [],
          input: {
            name: '',
            email: ''
          },
          editID: null,
          loading: false
        },
        methods: {
          createHandler() {
            
            const { name, email } = this.input
            if (!name || !email) return
            this.loading = true

            if ( this.editID ) {
              axios.put(`http://localhost:3000/contact/${this.editID}`, this.input)
              .then(res => {
                this.contacts[this.editID - 1] = this.input
                this.loading = false
                this.cancelHandler()
              })
              .catch(err => {
                console.log(err);
              })
            } else {
              axios.post('http://localhost:3000/contact', this.input)
              .then(res => {
                this.contacts.push(res.data)
                this.loading = false
                this.cancelHandler()
              })
              .catch(err => {
                console.log(err);
              })
            }
            
          },
          cancelHandler() {
            this.input.name = ''
            this.input.email = ''
            this.editID = null
          },
          editHandler(listID) {
            const { name, email, id } = this.contacts.filter(contact => contact.id === listID)[0]
            this.editID = id
            this.input = {
              name,
              email
            }

          },
          deleteHandler(listID) {
            const target = this.contacts.filter(contact => contact.id === listID)[0]
            if(confirm(`是否刪除會員： ${target.name}`)) {
              this.loading = true
              axios.delete(`http://localhost:3000/contact/${listID}`)
              .then(res => {
                this.contacts.splice(listID - 1, 1)
                this.loading = false
              })
              .catch(err => {
                console.log(err);
              })
            }
            console.log(target);
          }
        },
        mounted() {
          this.loading = true
          axios.get('http://localhost:3000/contact')
          .then((res) => {
            this.contacts = res.data
            this.loading = false
          }).catch(() => {
            console.log(err);
          })
        }
      })
    })(Vue);
  </script>

</body>
</html>